// Palette
color-black = #222
color-white = #fff
color-grey = darken(color-white, 50%)
color-grey-dark = darken(color-white, 80%)
color-red = #bb302b
color-green = #85b15a
color-yellow = #f6e153
color-orange = #e79a61
color-brown = #8c6c55
color-light = #eae2c0
color-lightblue = #a0d2e9
color-blue = #3e95be
color-purple = #cf4d9d
bg-color = #f2f1e7

// Type
type-base-face = 'rleud'
type-special-face = 'rleud'
type-mono-face = Monaco, monospace

// Layout
sidebar-width = 300px
nav-height = 60px
color-sidebar = color-yellow
color-sidebar-type = color-black
color-sidebar-hover-type = color-black
color-sidebar-hover-bg = rgba(#fff, .4)
color-sidebar-logo-bg = color-black
color-sidebar-logo-type = color-yellow
color-tab-problem = darken(color-yellow, 20%)
color-tab-script = color-yellow
color-tab-solution = darken(color-yellow, 20%)
color-code-type = color-brown
color-code-bg = darken(mix(color-grey-dark, color-brown, 90%), 30%)